@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  padding: 2rem 0;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.tab-text {
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.tabs .active {
  border-bottom: 3px solid black;
}

.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.add-task input {
  min-width: 400px;
  padding: 7.5px 15px;
  border-radius: 15px 0 0 15px;
  border: 2px solid #945ad1;
  outline: none;
}

.add-task button {
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #945ad1;
  color: white;
  padding: 7px 15px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

form {
  display: flex;
  align-items: center;
}
